Package           Version
----------------- -------
configparser      6.0.0
cx-Oracle         8.3.0
greenlet          3.0.2
pip               23.3.1
pyodbc            5.0.1
SQLAlchemy        2.0.23
typing_extensions 4.9.0
